h4 {
    text-align: left;
    text-decoration: none;
    position: relative;
}
h4:after {
    content: '';

    width:  15rem;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: red;
}